extends ../components/base/layout

block variables
  - const title = "День открытых дверей"

block main
  main.main
    +showcase()
    +about()
    +points()
    +speakers()
    //- +events()
    //- +testing()
    //- +enroll()
    //- +contacts()
