mixin about()
  section.main__about.about
    .container.about__container
      h2.about__title#about О мероприятии
      p.about__info
        |<b>20 марта 14:00</b> в Высшей школе перевода МГУ пройдёт День открытых дверей в онлайн-формате.
        |Вы сможете узнать всё об истории и жизни МГУ, задать вопросы декану и преподавателям Высшей школы перевода в режиме реального времени,
        |а также пройти тестирование по иностранным языкам.
