- const iframeSource = "https://docs.google.com/forms/d/e/1FAIpQLSddURcFFOZO64cHrque8W3QETOFCweur3cAdM4xAkrFzLjaOQ/viewform?embedded=true"

mixin enroll()
  section.main__enroll.enroll#enroll
    .container.enroll__container
      h2.enroll__title Записаться на день открытых дверей
      .enroll__text-container
        p.enroll__text Оставьте свою электронную почту, чтобы не забыть про день открытых дверей.
        p.enroll__text  За день мероприятия мы пришлём напоминание.
      .enroll__form-container
        iframe.enroll__form(
          src= iframeSource
        ) Загрузка&hellip;
