mixin showcase()
  section.main__showcase.showcase
    .container.showcase__container
      p.showcase__organization <b>Высшая школа перевода (факультет) <br> МГУ имени М.В. Ломоносова</b>
      p.showcase__date <b>20 марта 2022 <br> воскресенье</b>
      h1.showcase__title Виртуальный <br>день открытых дверей
      .showcase__links-container
        a.showcase__link(href="#enroll") Записаться
        a.showcase__link(href="#" target="_blank") Поключиться к Zoom
