-
  const speakersData = [
    {
      img: 'garbovskiy',
      name: 'Гарбовский<br>Николай Константинович',
      position: 'Директор Высшей школы перевода, профессор, академик РАО',
    },
    {
      img: 'kostikova',
      name: 'Костикова<br>Ольга Игоревна',
      position: 'Заместитель директора по научной работе, доцент',
    },
    {
      img: 'ushakov',
      name: 'Ушаков<br>Сергей Геннадьевич',
      position: 'Заместитель директора по учебной работе, доцент',
    },
    {
      img: 'koltsova',
      name: 'Кольцова<br>Юлия Николаевна',
      position: 'Заместитель директора по научной работе, доцент',
    }
  ]


mixin speakers()
  section.main__speakers.speakers
    .container.speakers__container
      h2.speakers__title Спикеры
      ul.speakers__list
        each speaker in speakersData
          +speaker(speaker.img, speaker.name, speaker.position)
