mixin testing()
  section.main__testing.testing
    .container.testing__container
      h2.testing__title Тестирование
      .testing__description
        p Все желающие смогут пройти тестирование по иностранным языкам: <i>английскому, испанскому, итальянскому, китайскому, немецкому или французскому</i>.
        p Это отличная возможность оценить свои знания в экзаменационных условиях и скорректировать подготовку к экзаменам.
        p Тестирование включает в себя две части: письменную (задания на проверку лексики и грамматики) и устную (собеседование с преподавателем).
        p Результаты тестирования мы пришлём на вам на почту в течение двух дней.
