.enroll {
  margin-bottom: 40px;

  @include desktop {
    padding-top: 10px;
  }
}

.enroll__text-container {
  margin-bottom: 30px;
}

.enroll__form-container {
  text-align: center;
}

.enroll__form {
  margin: 0 auto;
  height: 400px;
  height: 670px;
  width: 100%;

  @include desktop {
    border: none;
  }
}
