.enroll {
  margin-bottom: 40px;
}

.enroll__text-container {
  margin-bottom: 30px;
}

.enroll__form-container {
  text-align: center;
}

.enroll__form {
  margin: 0 auto;
  height: 400px;
  width: 100%;
}
