.footer {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  padding: 20px 0 30px;
  color: $color-default-white;
  background-color: $color-dark-grey;

  @include desktop {
    font-size: 15px;
    line-height: 20px;
  }
}

.footer__socials {
  margin-bottom: 10px;
}

.footer__socials-link {

  svg {
    width: 30px;
    height: 30px;

    &:hover {
      opacity: 0.8;
    }

    @include desktop {
    width: 40px;
    height: 40px;
    }
  }
}

.footer__text {
  margin: 0;
  text-align: center;
}

.footer__text-link {
  display: block;
  color: $color-default-white;

  &:hover {
    opacity: 0.8;
  }
}

.footer__copyright {
  margin: 0;
}
