.testing {
  background-color: $color-default-grey;
  padding: 20px 0;
  margin-bottom: 20px;
}

.testing__title {
  position: relative;
  padding-right: 60px;
  display: inline-block;

  &::before {
    top: -20px;
    right: 0;
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../img/testing.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
