.testing {
  position: relative;
  background-color: $color-default-grey;
  padding: 20px 0;
  margin-bottom: 20px;

  &::before {
    top: 20px;
    right: 120px;
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url('../img/testing.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
