mixin speaker(image, name, position)
  li.speakers__list-item.speaker
    .speaker__container
      img.speaker__image(src=`img/speakers/${image}.jpg` alt=position)
      h3.speaker__name !{name}
      p.speaker__position= position
