mixin contacts()
  section.main__contacts.contacts
    h2.contacts__title Контакты
    p.contacts__tel Телефон:
      a(href="tel:74959328072") +7&nbsp;(495)&nbsp;932-80-72
    .contacts__socials.socials
      a.socials__item.social(href="#")
        +icon('vk', 32, 32)

