mixin showcase()
  section.main__showcase.showcase
    p.showcase-organization Высшая школа перевода (факультет) <br> МГУ имени М.В. Ломоносова
    p.showcase-date 20 марта 2022
    h1.showcase-title Виртуальный день открытых дверей
    .showcase-container
      a.showcase-link(href="#") Записаться
      a.showcase-link(href="#" target="_blank") Поключиться к Zoom
