mixin header()
  header.header.page__header
    a.header__home(href="#") Домой
      nav.header__nav
        a.header__nav-link(href="#about") О мероприятии
        a.header__nav-link(href="#") Программа
        a.header__nav-link(href="#") Тестирование
        a.header__nav-link(href="#") Контакты
