.card
  img.card__image(src="https://www.fillmurray.com/400/250" alt="placeholder" width="300")
  .card__text-content
    p.card__category
      span.card__category-text Новости
    h4.card__title Заголовок новости
    p.card__text Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
    a.card__link(href="#") Подробнее